@import "../../styles/global";
.header {
    background-color: $color-2;
    font-weight: 400;
    border-bottom: 2px solid $color-4;
    @media screen and (max-width: 1024px) {
        padding: 20px;
    }
    nav {
        max-width: 1080px;
        margin: 0 auto;
        display: flex;
        gap: 20px;
        align-items: center;
        svg {
            background-color: $font-color;
            border-radius: 25px;
            padding: 5px;
            width: 50px;
        }
        ul {
            display: flex;
            list-style: none;
            padding: 20px 0;
            gap: 10px;
            font-size: 1.5rem;
            li {
                color: $font-color;
                cursor: pointer;
                a {
                    color: $font-color;
                    text-decoration: none;
                    padding: 2px;
                    &:hover {
                        border-bottom: 2px solid $color-4;
                    }
                    &:active {
                        border-bottom: 2px solid $color-4;
                    }
                }
            }
        }
    }
}
