.today {
    max-width: 1080px;
    margin: 0 auto;
    width: 100%;
    @media screen and (max-width: 1024px) {
        padding: 20px;
    }
    h1 {
        text-align: center;
        font-size: 1.5rem;
        margin: 20px 0 20px 0;
    }

    color: white;
    .containerToday {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 20px;
        justify-items: center;
        align-items: center;
        img {
            max-width: 500px;
        }
        @media screen and (max-width: 768px) {
            grid-template-columns: 1fr;
            img {
                width: 100%;
                margin: 0 auto;
                margin-bottom: 20px;
            }
        }
        .warrapDescription {
            h2 {
                font-size: 1.5rem;
                margin-bottom: 10px;
                @media screen and (max-width: 768px) {
                    text-align: center;
                }
            }
        }
    }
}
